//- Cụm nút góc trên bên phải
#top-right-icons.top-right-icons
  button#btn-mode-switch.icon-btn(title="Switch Mode")
    i#mode-icon.fa-solid
  
  //- Nút Home (Về trang chủ)
  a#btn-home.icon-btn(href="/" title="Home")
    i.fa-solid.fa-house
    
  //- Nút Cài đặt (Dashboard)
  button#settings-btn.icon-btn(title="Settings")
    i.fa-solid.fa-gear