
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
    width: 100%;

  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  
  background: 
    url(../material/wave.svg),
    linear-gradient(180deg, 
        #FFC4C4 0%,    /* Hồng phấn ấm áp trên cùng */
        #F3E6E8 35%,   /* Chuyển sang màu kem trắng nhẹ */
        #D8EAE7 65%,   /* Chuyển sang xanh Mint mát mắt */
        #9FDCD6 100%   /* Kết thúc bằng xanh ngọc (Teal) */
    );
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    background-blend-mode: overlay;

    background-attachment: fixed;
    min-height: 100vh;
}

.hero-section {
    width: 100%;
    height: 100vh;
    position: relative;
    color: white;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    width: 100%;
    z-index: 1000;  
}

.logo {
    font-size: 28px;
    font-weight: 600;
    opacity: 0.8;
    color: #1e293b;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0px 100px;
    margin-top: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 23px;
    font-weight: 600;
}

.nav-links a {
    text-decoration: none;
    color: #1e293b;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    -webkit-text-stroke: 1px black;
}

.nav-links a:hover {
    opacity: 1;
}

.login-btn {
    text-decoration: none;
    background-color: #1E293B;
    border: 1px solid black;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 23px;
    letter-spacing: 5px;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background-color: #FFC4C4;
    transform: translateY(-2px);
    border: 1px solid white;
}

.hero-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 88px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #1e293b;
    z-index: 5;

    width: 100%;
    max-width: 900px;
    line-height: 90px;
}

.subtitle {
    align-items: center;
    display: flex;
    font-size: 16px;
    letter-spacing: 8px;
    font-weight: 800;
    color: #4e342e;
}

.subtitle::before {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #4e342e;
    margin-right: 15px;
}

.scroll-down {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #1e293b;
    opacity: 0.8;
    margin-bottom: 40px;
}

.hero-content .content-start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.started-btn {
    display: flex;
    font-size: 24px;
    width: 200px;
    height: 70px;
    background-color: black;
    opacity: 0.8;
    color: white;
    text-decoration: none;
    padding: 20px 35px;
    border-radius: 30px;
    border: 2px solid #1e293b;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    transition: all 0.3s ease;
    letter-spacing: 2px;
}


.started-btn:hover {
    background-color: #FFC4C4;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 196, 196, 0.8);
    border: 1px solid white;
}

.sidebar-right {
    position: fixed;
    right: 5%;
    top: 44%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;

    align-items: flex-end;
    gap: 20px;
    font-size: 18px;
    font-weight: 700;

    border-right: 4px solid #1e293b;
    padding-right: 20px;

    color: #1e293b;
    z-index: 10;
}

.sidebar-left {
    color: #1e293b;
    position: fixed;
    writing-mode: vertical-lr;
    top: 44%;
    left: 10%;
    transform: translateY(-50%);
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    opacity: 0.8;
    left: 70px;
}

.social-icons {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.label-start {
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

.label-number {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

.label-number.active {
    opacity: 1;
}

.label-number:hover {
    opacity: 1;
}

/* ======== ========== ========== */
/* ======== LOGIN PAGE ========== */
/* ======== ========== ========== */

.login-section {
    width: 100%;
    height: 100vh;
    background-color: white;
    background: url(../material/login-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    position: relative;
    overflow: hidden;
}

.login-section::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 10%;
    width: 574px;
    height: 750px;
    background: 
    linear-gradient(180deg, 
        #FFC4C4 0%,    /* Hồng phấn ấm áp trên cùng */
        #F3E6E8 35%,   /* Chuyển sang màu kem trắng nhẹ */
        #D8EAE7 65%,   /* Chuyển sang xanh Mint mát mắt */
        #9FDCD6 100%   /* Kết thúc bằng xanh ngọc (Teal) */
    );
    z-index: 1;
    opacity: 0.5;
    border-radius: 30px;
}

.login-content {
    position: absolute;
    top:50%;
    left: 77%;
    font-size: 70px;
    font-weight: 400;

    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: 400;
    color: #1e293b;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
    line-height: 90px;
}

.login-container {
    position: absolute;
    top: 15%;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 30px;
    padding: 40px 80px;
    z-index: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form label {
    font-size: 18px;
    font-weight: 600;
    color: #1e293b;
}

.login-form input {
    padding: 16px 16px;
    border-radius: 15px;
    border: 1px solid #1e293b;
    color: #1e293b;
    font-size: 18px;
    font-weight: 500;
    width: 414px;
    height: 40px;
    margin-top: 5px;
}

.forgot-password {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 600;
    color: #1e293b;
    margin-top: 10px;
}

.login-btn-submit {
    background-color: #1e293b;
    color: white;
    padding: 16px 16px;
    border-radius: 15px;
    width: 414px;
    height: 55px;
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    box-sizing: border-box;
}

.icon {
    font-size: 24px;
    color: #1e293b;
}
.social-login {
    display: flex;
    gap: 25px;
    margin-top: 15px;
}

.social-login i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 9px 45px;
    border-radius: 7.5px;
    width: 127px;
    height: 48px;
}

/* ======== ========== ========== */
/* ======== SIGNUP PAGE ========== */
/* ======== ========== ========== */

.signup-section {
    width: 100%;
    height: 100vh;
    background-color: white;
    background: 
    url(../material/signup-bg.svg),
    linear-gradient(180deg, 
        #FFC4C4 0%,    /* Hồng phấn ấm áp trên cùng */
        #F3E6E8 35%,   /* Chuyển sang màu kem trắng nhẹ */
        #D8EAE7 65%,   /* Chuyển sang xanh Mint mát mắt */
        #9FDCD6 100%   /* Kết thúc bằng xanh ngọc (Teal) */
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.signup-bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-content {
    position: absolute;
    top:50%;
    left: 35%;
    font-size: 70px;
    font-weight: 400;

    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: 400;
    color: #1e293b;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
    line-height: 90px;
}

.signup-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 30px 0 0 30px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 40%;
    height: 100vh;
    z-index: 1;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup-form p {
    margin-top: 15px;
    font-size: 20px;
    color: #1E293B;
}

.signup-form h1 {
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
    color: #1E293B;
}

.signup-box {
    font-size: 20px;
    font-weight: 500;
    width: 528px;
    height: 64px;
    padding: 16px 16px;
    border-radius: 6px;
    border: 0.71px solid #BCBEC0;
}

.signup-btn {
    margin-top: 20px;
    background-color: #1E293B ;
    color: white;
    font-size: 20px;
    font-weight: 700;
    width: 528px;
    height: 64px;
    padding: 16px 16px;
    border-radius: 15px;
    border: 0.71px solid #BCBEC0;
    cursor: pointer;
    transform: all 0.3s ease;
}

.signup-btn:hover {
    background-color: #2c3e50;
    transform: translateY(-2px);
}


.container-2 {
    position: relative;
    max-width: 1400px;
    margin: 100px auto;
    padding: 0 20px;
}

.sec-02 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-2 .card-main {
    display: flex;
    gap: 30px;
}

.container-2 .title .main {
    font-size: 45px;
    font-weight: 700;
    color: #1E293B;
}

.container-2 .title .sub {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 500;
    color: #1E293B;
}

.card-main .card-sub {
    color: #1e293b;
    font-size: 18px;
    max-width: 450px;
    background: rgba(255, 255, 255, 0.55);
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);

    border-radius: 20px;
    padding: 20px 30px 30px 30px;
    text-align: justify;

}

.card-main .sub-container {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
}

.card-main .sub-container .icon-rotate{
    transform: rotate(45deg);
    font-size: 20px;

    color: white;
    background: #1e293b;
    border-radius: 50%;
    padding: 10px;
    margin-right: 20px;

    width: 35px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container .icon-rotate {
    cursor: pointer;
    transition: all 0.3s ease;
}

.sub-container .icon-rotate:hover {
    background-color: #FFC4C4;
    transform: rotate(45deg) scale(1.2) translate(3px, -3px);
    text-shadow: 0 0 8px rgba(255, 196, 196, 0.6);
}

.card-sub .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.reveal {
    position: relative;
    transform: translateY(100px); /* Đẩy xuống dưới 100px */
    opacity: 0;                   /* Mờ tịt */
    transition: all 1s ease;      /* Thời gian hiện lên là 1 giây */
}

/* 2. Trạng thái hiện ra (Khi JS kích hoạt class này) */
.reveal.active {
    transform: translateY(0);     /* Về vị trí cũ */
    opacity: 1;                   /* Hiện rõ 100% */
}

.subtitle-03 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.sec-03 {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 50px;
    padding-bottom: 350px;
}

.container-03 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    max-width: 1400px;

    margin: 100px auto;
    padding: 0 20px;
}

.container-03 .subtitle-03 {
    font-size: 18px;
    color:#1E293B;
    font-weight: 500px;
    margin-bottom: 15px;
}

.container-03 h2 {
    font-size: 64px;
    font-weight: 600px;
    color: #1E293B;
    margin-bottom: 10px;
}

.container-03 .sub-main {
    font-size: 24px;
    font-weight: 500px;
    color: #1E293B;
    margin-bottom: 30px;
}

.container-03 p {
    font-size: 18px;
    font-weight: 500px;
    color: #1E293B;
}

.container-03 .describe {
    text-align: center;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.info .sub-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.sub-container span {
    margin-top: 50px;
    font-weight: 1000px;
    font-size: 32px;
    color: cadetblue;
}

.sub-container p {
    font-size: 14px;
    font-weight: 500px;
    color: #1E293B;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 80px;
}

.decor-fixed {
    position: fixed; 
    z-index: 1;    
    pointer-events: none; 
    
    width: 30vw;     
    max-width: 400px; 
    height: auto;    
    opacity: 0.5;  
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}