
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hero-section {
    width: 100%;
    height: 100vh;
    position: relative;
    color: white;
    background-color: white;

    background: 
    url(../material/wave.svg),
    linear-gradient(180deg, 
        #FFC4C4 0%,    /* Hồng phấn ấm áp trên cùng */
        #F3E6E8 35%,   /* Chuyển sang màu kem trắng nhẹ */
        #D8EAE7 65%,   /* Chuyển sang xanh Mint mát mắt */
        #9FDCD6 100%   /* Kết thúc bằng xanh ngọc (Teal) */
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-blend-mode: overlay;
  
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    width: 100%;
    position: relative;
    z-index: 10;
}

.logo {
    font-size: 28px;
    font-weight: 600;
    opacity: 0.8;
    color: #1e293b;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0px 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 23px;
    font-weight: 600;
}

.nav-links a {
    text-decoration: none;
    color: #1e293b;
    letter-spacing: 3px;
    text-transform: uppercase;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    -webkit-text-stroke: 1px black;
}

.nav-links a:hover {
    opacity: 1;
}

.login-btn {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid black;
    color: #1e293b;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 23px;
    letter-spacing: 5px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-text-stroke: 1px black;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background-color: #FFC4C4;
    transform: translateY(-2px);
}

.hero-content {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 70px;
    font-weight: 400;
    color: #1e293b;
    z-index: 5;

    width: 100%;
    max-width: 800px;
    line-height: 90px;
}

.subtitle {
    align-items: center;
    display: flex;
    font-size: 16px;
    letter-spacing: 8px;
    font-weight: 800;
    color: #4e342e;
}

.subtitle::before {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #4e342e;
    margin-right: 15px;
}

.scroll-down {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #1e293b;
    opacity: 0.8;
    margin-bottom: 40px;
}

.started-btn {
    display: flex;
    font-size: 24px;
    width: 200px;
    height: 70px;
    background-color: black;
    opacity: 0.8;
    -webkit-text-stroke: 1px #1e293b;
    color: white;
    text-decoration: none;
    padding: 20px 35px;
    border-radius: 30px;
    border: 2px solid #1e293b;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 650px auto;
    
    transition: all 0.3s ease;
    letter-spacing: 2px;
}

.started-btn:hover {
    background-color: #2c3e50;
    transform: translateY(-2px);
}

.sidebar-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-size: 12px;
    opacity: 0.8;
    right: 30px;
}

.sidebar-left {
    color: #1e293b;
    position: absolute;
    writing-mode: vertical-lr;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    opacity: 0.8;
    left: 30px;
}

.social-icons {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.sidebar-right {
    position: absolute;
    right: 5%;
    top:50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;

    align-items: flex-end;
    gap: 20px;
    font-size: 18px;
    font-weight: 700;

    border-right: 4px solid #1e293b;
    padding-right: 20px;

    color: #1e293b;
    z-index: 10;
}

.label-start {
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

.label-number {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

.label-number.active {
    opacity: 1;
}

.label-number:hover {
    opacity: 1;
}

/* ======== ========== ========== */
/* ======== LOGIN PAGE ========== */
/* ======== ========== ========== */

.login-section {
    width: 100%;
    height: 100vh;
    background-color: white;
    background: url(../material/login-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    position: relative;
    overflow: hidden;
}

.login-section::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 10%;
    width: 574px;
    height: 750px;
    background: 
    linear-gradient(180deg, 
        #FFC4C4 0%,    /* Hồng phấn ấm áp trên cùng */
        #F3E6E8 35%,   /* Chuyển sang màu kem trắng nhẹ */
        #D8EAE7 65%,   /* Chuyển sang xanh Mint mát mắt */
        #9FDCD6 100%   /* Kết thúc bằng xanh ngọc (Teal) */
    );
    z-index: 1;
    opacity: 0.5;
    border-radius: 30px;
}

.login-content {
    position: absolute;
    top:50%;
    left: 77%;
    font-size: 70px;
    font-weight: 400;

    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: 400;
    color: #1e293b;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
    line-height: 90px;
}

.login-container {
    position: absolute;
    top: 15%;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 30px;
    padding: 40px 80px;
    z-index: 1;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form label {
    font-size: 18px;
    font-weight: 600;
    color: #1e293b;
}

.login-form input {
    padding: 16px 16px;
    border-radius: 15px;
    border: 1px solid #1e293b;
    color: #1e293b;
    font-size: 18px;
    font-weight: 500;
    width: 414px;
    height: 40px;
    margin-top: 5px;
}

.forgot-password {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 600;
    color: #1e293b;
    margin-top: 10px;
}

.login-btn-submit {
    background-color: #1e293b;
    color: white;
    padding: 16px 16px;
    border-radius: 15px;
    width: 414px;
    height: 55px;
    font-size: 20px;
    font-weight: 800;
    margin-top: 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    box-sizing: border-box;
}

.icon {
    font-size: 24px;
    color: #1e293b;
}
.social-login {
    display: flex;
    gap: 25px;
    margin-top: 15px;
}

.social-login i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 9px 45px;
    border-radius: 7.5px;
    width: 127px;
    height: 48px;
}

/* ======== ========== ========== */
/* ======== SIGNUP PAGE ========== */
/* ======== ========== ========== */

.signup-section {
    width: 100%;
    height: 100vh;
    background-color: white;
    background: 
    url(../material/signup-bg.svg),
    linear-gradient(180deg, 
        #FFC4C4 0%,    /* Hồng phấn ấm áp trên cùng */
        #F3E6E8 35%,   /* Chuyển sang màu kem trắng nhẹ */
        #D8EAE7 65%,   /* Chuyển sang xanh Mint mát mắt */
        #9FDCD6 100%   /* Kết thúc bằng xanh ngọc (Teal) */
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.signup-bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-content {
    position: absolute;
    top:50%;
    left: 35%;
    font-size: 70px;
    font-weight: 400;

    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: 400;
    color: #1e293b;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
    line-height: 90px;
}

.signup-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 30px 0 0 30px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 40%;
    height: 100vh;
    z-index: 1;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup-form p {
    margin-top: 15px;
    font-size: 20px;
    color: #1E293B;
}

.signup-form h1 {
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
    color: #1E293B;
}

.signup-box {
    font-size: 20px;
    font-weight: 500;
    width: 528px;
    height: 64px;
    padding: 16px 16px;
    border-radius: 6px;
    border: 0.71px solid #BCBEC0;
}

.signup-btn {
    margin-top: 20px;
    background-color: #1E293B ;
    color: white;
    font-size: 20px;
    font-weight: 700;
    width: 528px;
    height: 64px;
    padding: 16px 16px;
    border-radius: 15px;
    border: 0.71px solid #BCBEC0;
    cursor: pointer;
    transform: all 0.3s ease;
}

.signup-btn:hover {
    background-color: #2c3e50;
    transform: translateY(-2px);
}
