.timer-content {
    display: flex;
    flex-direction: column;
    color: #1e293b;
    text-align: center;
    margin-bottom: 100px;
}

.timer-content h1 {
    font-size: 50px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
}

.timer-subtitle {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 4px;
    text-transform: uppercase;
    
    -webkit-text-stroke: 2px solid #1e293b;
    text-shadow: 2px 2px 4px #888888;
}

.timer-container {
    margin-top: 20px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 794px;
    height: 692px;
    border-radius: 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-color: white;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.timer-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.timer-header span {
    font-size: 24px;
    font-weight: 500;
    color: #1e293b;
    letter-spacing: 0.5px;
}

.edit-btn {
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #1e293b;

    opacity: 0.6;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.edit-btn:hover {
    opacity: 1;
    transform: scale(1.1);
}

.digital-timer {
    color: #1e293b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.time-display {
    font-size: 110px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 10px;
    color: #1e293b;

    font-variant-numeric: tabular-nums;
}

.sub-timer {
    font-size: 20px;
    font-weight: 500;
    color: #475569;
    margin-top: 30px;
    letter-spacing: 2px;
}

.controls-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 15px;
    width: 100%;
}

.start-btn, .pause-btn {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 6px;
    text-transform: uppercase;
    width: 230px;
    height: 75px;
    border-radius: 20px;
    color: white;
    background-color: #1e293b;
    border: 1px solid white;
    margin: 0 10px;

    cursor: pointer;
    transition: all 0.2s ease;
}

.start-btn:hover, .pause-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(30, 41, 59, 0.3);
    opacity: 0.9;
}

.reset-btn {
    font-size: 25px;
    font-weight: 600;;
    text-transform: uppercase;
    width: 71px;
    height: 71px;
    border-radius: 50%;
    color: #1e293b;
    background-color: #edf0ef;
    border: none;
    margin-left: 20px;

    cursor: pointer;
    transition: all 0.2s ease;

    display: flex;          
    justify-content: center; 
    align-items: center;
    padding: 0px;
}

.reset-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(236, 151, 151, 0.3);
    opacity: 0.9;
}

.lap-btn {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 6px;
    text-transform: uppercase;
    width: 145px;
    height: 75px;
    border-radius: 20px;
    color: #1e293b;
    background-color: BECECC;
    border: none;
    margin: 0 10px;

    cursor: pointer;
    transition: all 0.2s ease;
}

.lap-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(236, 151, 151, 0.3);
    opacity: 0.9;
}

.bot-left-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 100;
}

.save-btn {
    display: flex;
    align-items: center;
    gap: 10px; 
    
    padding: 12px 20px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5); 
    
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    color: #1e293b;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);  
}

.save-btn:hover {
    background: #ffffff; 
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    color: #3b82f6; 
}

.save-btn i {
    font-size: 14px; 
}

.sidebar-left {
    color: #1e293b;
    position: absolute;
    writing-mode: vertical-lr;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    opacity: 0.8;
}

.social-icons {
    display: flex;
    gap: 20px;
    cursor: pointer;
}
